.carousel .carousel-item {
    max-width: 400px;
    width: 100%;
}

.carousel {
    height: 600px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: -200px;
    margin-bottom: -100px;
}

.about-title {
    margin-left: 120px;
    margin-bottom: 30px;
    margin-top: 30px;
}