.mainCalendar {
  margin-left: 120px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 30px;
}

footer {
  border-top: 1px solid lightgray;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-left: 70px;
}

.site-map {
  font-size: 18px;
}

.left-section {
  margin-left: 110px;
  margin-right: 80px;
  border-color: black;
  width: 100%;
  min-height: 250px;
  max-height: 370px;
  margin-bottom: 30px;
  overflow: scroll;
}

.table-header-main {
  margin-left: 110px;
  margin-right: 80px;
}

.table-section {
  overflow: scroll;
  margin-top: 20px;
}

.course-title {
  position: initial;
  font-size: 40px;
}

.add-button {
  width: 150px;
  float: right;
}

.rbc-toolbar-label {
  font-size: 30px !important;
  margin-bottom: 5px;
}